body {
    font-family: sans;
    font-size: 12pt;
    padding-left: 20px;
    padding-top: 10px;
}

.header {

}

.title {
    
}

.description {

}

.maintitle {
    color: red;
}

.class-header {
}

.class-title {
    font-size: 15pt;
}

.class-description {
    margin-left: 20px;
    margin-bottom: 30px;
}

.static-method-header {
    font-weight: bold;
    font-size: 13pt;
    background: #98D1E3;
    border-top: 1px solid #13A5D1;
    border-bottom: 1px solid #13A5D1;
}

.static-field-header {
    font-weight: bold;
    font-size: 13pt;
    background: #98D1E3;
    border-top: 1px solid #13A5D1;
    border-bottom: 1px solid #13A5D1;
}

.proto-method-header {
    font-weight: bold;
    font-size: 13pt;
    background: #98D1E3;
    border-top: 1px solid #13A5D1;
    border-bottom: 1px solid #13A5D1;
}

.proto-field-header {
    font-weight: bold;
    font-size: 13pt;
    background: #98D1E3;
    border-top: 1px solid #13A5D1;
    border-bottom: 1px solid #13A5D1;
}

.return-link {

}

.proto-field-container {

}

.static-field-container {
}

.proto-method-container {

}

.static-method-container {
}

.proto-field-list {

}

.static-field-list {
}

.proto-method-list {
    margin-top: 10px;
}

.static-method-list {
}

.method-name {
    font-weight: bold;
    margin-right: 10px;
    font-family: monospace;
}

.method-func {
    font-family: monospace;
    color: rgb(40, 40, 40);
}

.method-func-arg {
    font-family: monospace;
    color: #AB2918;
}

.method-description {
    margin-left: 20px;
}

.method-params {
    border: 1px solid black;
    margin-left: 35px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.method-discussion {
    margin-left: 20px;
}

.param-name {
    font-family: monospace;
    margin-right: 10px;
    color: #AB2918;
}

.param-descrip {

}

.field-name {
    font-weight: bold;
    margin-right: 10px;
    font-family: monospace;
}

.field-description {

}

.mono {
    font-family: monospace;
}

.proto-method-list li {
    margin-top: 10px;
}

.static-method-list li {
    margin-top: 10px;
}
